@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.primary {
    color: #47AE67;
}

.secondary {
    color: #1c1c1c;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

.g-20 {
    gap: 20px;
}

.max-w-600 {
    max-width: 900px;
    margin: auto;
}

.w-100 {
    width: 100%;
}

.flex-bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.align-center {
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}